<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>WEL COME</title>
    <script type="text/javascript" src="/instascan.min.js"></script>
    <style>
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
      .body {
        background-image: url("/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
      }

      .spinner {
        --spinner-color: #000;
        aspect-ratio: 1/1;
        border-radius: 50%;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      .spinner--dotted {
        width: 5rem;
        border: 0.5rem dotted var(--spinner-color);
        display: block;
        animation-duration: 5s;
      }
    </style>
  </head>

  <body class="bg-[url('/bg.png')] bg-no-repeat w-screen h-screen bg-cover">
    <div class="flex justify-center items-center h-screen w-screen">
      <h3 id="msg" style="display: none" class="text-4xl text-center">
        WELCOME <br />
        <strong id="name" class="text-black font-bold text-2xl"></strong><br />
      </h3>
      <h3 id="msg2" style="display: none" class="text-center">
        <strong id="name2" class="text-red-400 font-bold text-4xl"></strong
        ><br />
      </h3>
      <video
        id="preview"
        class="rounded-[36px] shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] xl:w-[40%] w-[60%] md:w-[60%]"
      ></video>

      <div
        id="container"
        class="w-[100vw] h-[100vh] flex justify-center items-center hidden"
        role="status"
        id="loading"
      >
        <span class="spinner spinner--dotted"></span>
      </div>
    </div>

  <script>
    const sppiner = document.getElementById("container");
    const preview = document.getElementById("preview");
    const msg = document.getElementById("msg");
    const name = document.getElementById("name");
    const msg2 = document.getElementById("msg2");
    const name2 = document.getElementById("name2");

    let scanner = new Instascan.Scanner({ video: document.getElementById("preview") });

    scanner.addListener("scan", function (content) {
      getUser(content);
      spinner.style.display = "flex";
      preview.style.display = "none";
    });

    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]).catch(function (e) {
            console.error(e);
            alert('Error starting camera: ' + e.message);
          });
        } else {
          console.error('No cameras found.');
          alert('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
        alert('Cannot access camera: ' + e.message);
      });

    // Instascan.Camera.getCameras().then(function (cameras) {
    //   if (cameras.length > 0) {
    //     scanner.start(cameras[0]).catch(function (e) {
    //       console.error('Error starting camera:', e);
    //       alert('Error starting camera: ' + e.message);
    //     });
    //   } else {
    //     console.error('No cameras found.');
    //     alert('No cameras found.');
    //   }
    // }).catch(function (e) {
    //   console.error('Cannot access camera:', e);
    //   alert('Cannot access camera: ' + e.message);
    // });




    // let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    //   scanner.addListener('scan', function (content, image) {
    //     console.log(content);
    //   });
 
    //   Instascan.Camera.getCameras().then(function (cameras) {
    //     if (cameras.length > 0) {
    //       scanner.start(cameras[0]);
    //     }
    //   });

    async function getUser(code) {
      console.log("inside-function");
      const response = await fetch("/get-user", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ code }),
      });
      if (response.ok) {
        try {
          const userData = await response.json();
          sppiner.style.display = "none";
          msg.style.display = "block";
          name.innerText = `${userData.code}`;
          var timer = 4;
          var cleartime = setInterval(function () {
            timer--;
            if (timer == 0) {
              clearInterval(cleartime);
              msg.style.display = "none";
              preview.style.display = "block";
              // hh
            }
          }, 1000);
        } catch (error) {
          console.error("Error parsing JSON:", error);
        }
      } else {
        msg2.style.display = "block";
        name2.innerText = "Inavlid User";
        sppiner.style.display = "none";
        var timer = 4;
        var cleartime = setInterval(function () {
          timer--;
          if (timer == 0) {
            clearInterval(cleartime);
            msg2.style.display = "none";
            preview.style.display = "block";
          }
        }, 1000);
      }
    }

  </script>
</body>

</html>