<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>WEL COME</title>
  <script type="text/javascript" src="/asset/instascan.min.js"></script>
  <style>
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    .spinner {
      --spinner-color: #000;
      aspect-ratio: 1/1;
      border-radius: 50%;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .custom-background {
      background-image: url('../asset/ncc.png');
      /* Replace 'your-image-url.jpg' with the path to your image */
      background-size: cover;
      /* Adjust to your desired background size */
      background-repeat: no-repeat;
      /* Prevent background image from repeating */
      background-position: center;
      /* Center the background image */
    }



    .spinner--dotted {
      width: 5rem;
      border: 0.5rem dotted var(--spinner-color);
      display: block;
      animation-duration: 5s;
    }
  </style>
</head>

<body class="w-[100vw] h-[100vh] flex justify-center items-center custom-background">
  <h3 id="msg" style="display: none" class="text-blue-950 text-center text-6xl">
    <strong>
      WELCOME TO THE LEGACY MEETS INNOVATION </strong><br />
    <strong id="name" class="text-blue-950 text-center  text-4xl"></strong><br />
  </h3>
  <h3 id="msg2" style="display: none" class="text-center">
    <strong id="name2" class="text-red-400 font-bold text-4xl"></strong><br />
  </h3>
  <video id="preview"
    class="rounded-[36px] shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] xl:w-[40%] w-[60%] md:w-[60%]"></video>
  <div id="container" class="w-[100vw] h-[100vh] flex justify-center items-center hidden" role="status" id="loading">
    <span class="spinner spinner--dotted"></span>
  </div>



  <script>
    const sppiner = document.getElementById("container");
    const preview = document.getElementById("preview");
    const msg = document.getElementById("msg");
    const name = document.getElementById("name");
    const msg2 = document.getElementById("msg2");
    const name2 = document.getElementById("name2");

    let scanner = new Instascan.Scanner({
      video: document.getElementById("preview"),
    });
    scanner.addListener("scan", function (content) {
      getUser(content);
      sppiner.style.display = "flex";
      preview.style.display = "none";
    });

    Instascan.Camera.getCameras().then((cameras) => {
      if (cameras.length > 0) {
        scanner.start(cameras[0]);
      } else {
        console.error("camera not started");
      }
    });

    async function getUser(uniqueCode) {
      console.log("inside-function");
      const response = await fetch("/get-user", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ uniqueCode }),
      });
      if (response.ok) {
        try {
          const userData = await response.json();
          sppiner.style.display = "none";
          msg.style.display = "block";
          name.innerText = `${userData.userName}`;

          var timer = 4;
          var cleartime = setInterval(function () {
            timer--;
            if (timer == 0) {
              clearInterval(cleartime);
              msg.style.display = "none";
              preview.style.display = "block";
            }
          }, 1000);
        } catch (error) {
          console.error("Error parsing JSON:", error);
        }
      } else {
        msg2.style.display = "block";
        name2.innerText = "Inavlid User";
        sppiner.style.display = "none";
        var timer = 4;
        var cleartime = setInterval(function () {
          timer--;
          if (timer == 0) {
            clearInterval(cleartime);
            msg2.style.display = "none";
            preview.style.display = "block";
          }
        }, 1000);
      }
    }
  </script>
</body>

</html>