<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>WEL COME</title>
    <script type="text/javascript" src="/asset/instascan.min.js"></script>
    <style>
      * {
        background-color: #3d1c32;
        scroll-behavior: none;
      }

      /* img {
        position: absolute;
        top: 0;
        left: 0;
      } */

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
      #GFG{
        color: white;
      }

      .spinner {
        --spinner-color: #000;
        aspect-ratio: 1/1;
        border-radius: 50%;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      .spinner--dotted {
        width: 5rem;
        border: 0.5rem dotted var(--spinner-color);
        display: block;
        animation-duration: 5s;
      }
    </style>
     <script> 
      function printDiv() { 
          var divContents = document.getElementById("msg").innerHTML; 
          var a = window.open('', '', 'height=500, width=500'); 
          a.document.write('<html>'); 
          a.document.write(divContents); 
          a.document.write('</body></html>'); 
          a.document.close(); 
          a.print(); 
      } 
  </script>
  </head>
  

  <body class="w-screen h-screen">

      
    <input type="button" value="click" onclick="printDiv()"> 
  </div> 
    <div class="flex flex-col justify-center items-center">
      <div class="bg-red-500 w-72 mb-10 mt-20">
        <img src="../asset/logo1.png" class="w-full" />
      </div>
      <div class="flex flex-col justify-center items-center my-14">
        <h3 id="msg" class="text-blue-950 text-center text-6xl hidden">
          <strong class="text-white text-center text-3xl"> WELCOME TO</strong
          ><br />
          <strong id="name" class="text-white text-center text-6xl"
            >CRAFTECH 360</strong
          ><br />
        </h3>
        <h3 id="msg2" class="text-center hidden">
          <strong id="name2" class="text-red-400 font-bold text-4xl"> </strong
          ><br />
        </h3>
        <video
          id="preview"
          class="rounded-[36px] shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] xl:w-[40%] w-[60%] md:w-[60%]"
        ></video>
        <div
          id="container"
          class="absolute top-[50%] hidden"
          role="status"
          id="loading"
        >
          <span class="spinner spinner--dotted"></span>
        </div>
      </div>
      <div>
        <form id="searchForm" class="relative">
          <!-- <input
            type="text"
            id="searchQuery"
            placeholder="Enter your search query"
            class="py-4 px-8 bg-white rounded-lg w-[400px] h-20 text-xl"
          /> -->
          <!-- <button
            class="bg-[#CF945B] text-white py-4 px-10 font-bold text-xl rounded-r-lg absolute right-0 top-0 h-20"
            type="button"
            onclick="searchData()"
          > -->
            <!-- Search -->
          </button>
        </form>
      </div>
    </div>

    <script>
      const sppiner = document.getElementById("container");
      const preview = document.getElementById("preview");
      const msg = document.getElementById("msg");
      const name = document.getElementById("name");
      const msg2 = document.getElementById("msg2");
      const name2 = document.getElementById("name2");
      const searchForm = document.getElementById("searchForm");

      // Send search query to the server
      async function  searchData () {
        sppiner.style.display = "flex";
        preview.style.display = "none";
        console.log("here");
        const uniqueCode = document.getElementById("searchQuery").value;
        console.log("inside-function");
        const response = await fetch("/get-user-search", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ uniqueCode }),
        });
        if (response.ok) {
          try {
            searchForm.style.display = 'none';
            sppiner.style.display = "none";
            msg.style.display = "block";

            var timer = 4;
            var cleartime = setInterval(function () {
              timer--;
              if (timer == 0) {
                clearInterval(cleartime);
                msg.style.display = "none";
                preview.style.display = "block";
                searchForm.style.display = 'block';
              }
            }, 1000);
          } catch (error) {
            console.error("Error parsing JSON:", error);
          }
        } else {
          msg2.style.display = "block";
          name2.innerText = "QR Code has already been used";
          sppiner.style.display = "none";
          searchForm.style.display = 'none';
          var timer = 4;
          var cleartime = setInterval(function () {
            timer--;
            if (timer == 0) {
              clearInterval(cleartime);
              msg2.style.display = "none";
              preview.style.display = "block";
              searchForm.style.display = 'block';
            }
          }, 1000);
      }
      }

      let scanner = new Instascan.Scanner({
        video: document.getElementById("preview"),
      });
      scanner.addListener("scan", function (content) {
        getUser(content);
        sppiner.style.display = "flex";
        preview.style.display = "none";
      });

      Instascan.Camera.getCameras().then((cameras) => {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error("camera not started");
        }
      });

      async function getUser(uniqueCode) {
        console.log("inside-function");
        const response = await fetch("/get-user-scan", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ uniqueCode }),
        });
        if (response.ok) {
          try {
            const userData = await response.json();
            searchForm.style.display = 'none';
            sppiner.style.display = "none";
            msg.style.display = "block";

            var timer = 4;
            var cleartime = setInterval(function () {
              timer--;
              if (timer == 0) {
                clearInterval(cleartime);
                msg.style.display = "none";
                preview.style.display = "block";
                searchForm.style.display = 'block';
              }
            }, 1000);
          } catch (error) {
            console.error("Error parsing JSON:", error);
          }
        } else {
          msg2.style.display = "block";
          name2.innerText = "QR Code has already been used";
          sppiner.style.display = "none";
          searchForm.style.display = 'none';
          var timer = 4;
          var cleartime = setInterval(function () {
            timer--;
            if (timer == 0) {
              clearInterval(cleartime);
              msg2.style.display = "none";
              preview.style.display = "block";
              searchForm.style.display = 'block';
            }
          }, 1000);
        }
      }
    </script>
  </body>
</html>
